:root {
    --colorBackground: #444444;
    --colorForeground: #cfe4d9;
    --colorAccent: #92d3b1;
}

body {
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    margin: 0px;
    padding: 0px;
    font-family: "Oregano", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    width: 100%;
    a:link, a:visited{
        color: var(--colorAccent);
        text-decoration: none;
        font-weight: 700;
    }
    a:hover{
        cursor: pointer;
    }
}

.stickies {
    margin: 6vh 6vw;
    margin-right: 3vw;
    width: 25vw;
    height: 88vh;
    border: none;
}

.info {
    margin: 6vh 3vw;
    width: 25vw;
    height: 36vh;
    text-align: center;
}

.date {
    width: 100%;
    height: 12vh;
    font-size: 4vh;
    margin: 0px;
    overflow: auto;
}

.time {
    width: 100%;
    height: 24vh;
    font-size: 20vh;
    margin: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    font-weight: 700;
    transform: translateY(-6vh);
}

.searchgrid {
    width: 100%;
    display: flex;
}

.searchoption {
    width: 10%;
    height: 4vh;
    font-size: 1.1vh;
    border: none;
    background-color: var(--colorForeground);
    color: var(--colorBackground);
    border-radius: 3px;
}

.websearch {
    width: 90%;
    height: 4vh;
    margin: 0px;
    padding: 1vh;
    border: none;
    background-color: var(--colorForeground);
    color: var(--colorBackground);
    border-radius: 3px;
}

.websearch:focus {
    outline: none;
}

.webpage {
    width: 100%;
    height: 4vh;
    margin: 0px;
    margin-bottom: 2vh;
    padding: 1vh;
    border: none;
    background-color: var(--colorForeground);
    color: var(--colorBackground);
    border-radius: 3px;
}

.webpage:focus {
    outline: none;
}

.calculator {
    width: 100%;
    height: 36vh;
    margin: 6vh 0px;
    margin-bottom: 0px;
    border: none;
    outline: 1px solid var(--colorForeground);
}

.components {
    margin: 6vh 3vw;
    width: 25vw;
    height: 88vh;
}

.siteList {
    height: 70vh;
    width: 100%;
    margin: 0px;
    font-size: 2.5vh;
    overflow: auto;
}

.siteListLeft {
    text-align: left;
    padding: 0px;
    padding-left: 1vw;
    width: 50%;
    margin: 0px;
    a:link, a:visited, a:hover{
        color: var(--colorForeground);
        font-weight: 400;
    }
}

.siteListRight {
    text-align: right;
    padding: 0px;
    padding-right: 1vw;
    width: 50%;
    margin: 0px;
    a:link, a:visited, a:hover{
        color: var(--colorForeground);
        font-weight: 400;
    }
}

.siteListHeading {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2vh;
    font-size: 2.5vh;
    a:link, a:visited{
        color: var(--colorForeground);
        font-weight: 700;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
    }
}

dialog {
    background-color: var(--colorForeground);
    color: var(--colorBackground);
    width: 70vw;
    height: 70vh;
}

.closeDialog {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    background-color: var(--colorForeground);
    color: var(--colorBackground);
    border: 3px solid var(--colorBackground);
    border-radius: 3px;
    font-size: 2vh;
    margin: 3vh;
    font-family: Oregano, cursive;
    padding: 3px;
}

.closeDialog:hover {
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    cursor: pointer;
}